server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: update
  data:
    jdbc:
      dialect: postgresql

jwt:
  secret: ${JWT_SECRET}
  ttlMs: 600000