name: Security check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  security-static-check:
    name: Static Security Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compile code
        run: ./gradlew classes

      - name: Run SpotBugs check
        run: ./gradlew spotbugsMain

      - name: Upload SpotBugs report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: spotbugs-report
          path: build/reports/spotbugs/main.html

  security-dependency-check:
    name: Dependency security check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Install snyk-to-html
        run: npm install -g snyk-to-html

      - name: Run Snyk security test
        run: snyk test --json-file-output=snyk-report.json
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Build HTML file from json report
        if: always()
        run: snyk-to-html -i snyk-report.json -o snyk-report.html

      - name: Upload Snyk report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: snyk-report
          path: snyk-report.html